.bg-login {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/25badb14-858b-4b1c-8b7d-2244098454d9/c59bd8d8-05ea-40df-ae4c-91cc8a8c494a/VN-en-20220606-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}
.bg-login::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.form-login {
  width: 30rem;
}
.form-login h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .form-login {
    width: auto;
  }
}
