@media only screen and (max-width: 768px) {
  .seat {
    font-size: 0.5rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    margin: 0 0.1rem;
  }
  .seat--info {
    margin: 0 auto 0.2rem;
  }
}
