#carousel_homePage .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(157, 150, 150, 0.868);
}
#carousel_homePage .ant-carousel .slick-dots-bottom {
  bottom: -10px;
}
#carousel_homePage .slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  background-color: red;
}
.ant-carousel .slick-dots li.slick-active {
  width: 16px;
}

.slick-dots.slick-dots-bottom {
  margin-bottom: 10px;
}

#carousel_homePage .ant-card-meta-description .homePage__desc {
  margin-top: 2px;
  /* text-align: justify; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#carousel_homePage .homePage__desc--mobile {
  margin-top: 2px;
  /* text-align: justify; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#banner_homePage {
  height: 40rem;
}
#banner_homePage img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

#banner_homePage .slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(157, 150, 150, 0.868);
}
#banner_homePage .slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  background-color: red;
}
